<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DUSFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Days Until Seasons Today.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Days Until Seasons WatchKit 1 App (Glance).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Days Until Seasons WatchKit 1 App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Days Until Seasons WatchKit 1 App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Days Until Seasons.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7024F0D61CC6F905000D03B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7024F1011CC6F92A000D03B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7024F10A1CC6F92A000D03B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7024F13E1CC7087B000D03B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7024F1471CC7087C000D03B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>704D839B1CC90A8800449920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705280C31ACB718D0099A80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705280DC1ACB718D0099A80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705280F01ACB73010099A80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705281061ACB73210099A80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705281281ACB74140099A80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705281441ACB841F0099A80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7052814E1ACB841F0099A80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DFDF511ACF827000A2DE87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DFDF5B1ACF827100A2DE87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F2BC2A1CC70CFD004ED19A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F8F7191C87CDCD00011C06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F8F7511C87D11900011C06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F8F77C1C87D1E500011C06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
